<!DOCTYPE html>
<html lang="en">
<head>
    {{template "header" .}}
</head>
<body style="background-color: #000000">
<div class="container-fluid">
    <div class="col-sm-12 text-center">
        <h6 style="color: #414141">Connected to: {{.ID}}</h6>
    </div>
</div>

<script>
    ID = "{{.ID}}";
</script>
<script src="../static/js/socket.io.min.js"></script>
<script src="../static/js/jquery-3.2.1.min.js"></script>
<script src="../static/js/tether.min.js"></script>
<script src="../static/js/client.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>